<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <div
        <div>
            <h3 class="mt-5">Edit list:</h3>
            <h5 class="mt-4">{{ todo_list.title|upper}}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div>
                    <div role="button"  class="btn btn-info" onclick="location.href='{% url "item-update" todo_list.id todo.id %}'">
                        {{ todo.title }}
                        (Due {{ todo.due_date| date:"l, F j" }})
                    </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input value="Add a new item" type="button" class="btn btn-primary" onclick="location.href='{% url "item-add" todo_list.id %}'" />
            <input value="Delete this list" type="button" class="btn btn-danger"
                onclick="location.href='{% url "list-delete" todo_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}
